{{ .StocksModuleNav }}

<!--操作-->
<div class="card text-white bg-dark">
    <div class="card-header">市场操作向导</div>
    <div class="card-body">
        <div class="my-2">
            <div class="alert alert-success fw-bold" role="alert">
                仓位管理得好，不会出现大亏损，保住本金是一个重要的原则。
            </div>
            <small class="form-text">投机像群山一样古老，股市今天发生的事，过去曾经发生过，将来也必然再次发生！</small>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="qushililun-tab" data-bs-toggle="tab" data-bs-target="#qushililun"
                    type="button" role="tab" aria-controls="qushililun" aria-selected="true">趋势理论</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="cangweililun-tab" data-bs-toggle="tab" data-bs-target="#cangweililun"
                    type="button" role="tab" aria-controls="cangweililun" aria-selected="true">仓位理论</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">操作策略</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">选股策略</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="guanjiandian-tab" data-bs-toggle="tab" data-bs-target="#guanjiandian"
                    type="button" role="tab" aria-controls="guanjiandian" aria-selected="true">关键点</button>
            </li>
        </ul>
        <div class="tab-content text-success" id="myTabContent">
            <div class="tab-pane fade show active" id="qushililun" role="tabpanel" aria-labelledby="qushililun-tab">
                <p class="my-2">
                    我最喜欢的一句投资格言：斩断亏损，让利润奔跑。就是对趋势投资最经典的总结。
                </p>
                <h4>我理解的趋势</h4>
                <p>
                    趋势是事物发展的一种自然规律，具有重复、持续、有向的特点。
                    趋势投资者经常被认为是技术派，而我的理解趋势投资和价值投资是有某些相似性的。
                    价值投资从半年报去推导全年业绩、从今年业绩去推导未来几年业绩，根据历史线性推导，认为未来基本面的趋势可以延续。
                    而趋势投资也是依据股价过去表现认为走势可以延续。
                    更大的趋势是“国运”。经济结构变化是股市最大的趋势：比如07年的城镇化、14年的双创、17年的核心资产、19年的自主科技。
                    趋势，是一切投资的基本要素。
                    平时所说的是狭义的趋势投资：投资者以投资标的的上涨或下跌周期来作为买卖交易依据的一种投资方式。
                </p>
                <h4>趋势投资的原理</h4>
                <p>
                    股价是市场信息的综合反应。包括基本面、技术面、资金面、已知的、未知的、预期的、好消息、坏消息。
                    股价沿着趋势的方向运行。世间万物都有惯性，趋势一旦形成，将会运行一段时间直到趋势终止。
                    历史总是会重复。投资者的心理、情绪、习惯、经验影响其交易行为，且难以改变。
                </p>

                <h4>为什么要进行趋势投资</h4>
                <p>
                    长期投资并不一定是稳赢的。上证指数十几年依然在3000点附近运行，A股绝大多数股票也没有长期投资价值。
                    市场不可预测。股价的方向、空间和持续时间都是不确定的，而趋势相对确定。
                    投资者并不能完全认清公司是否有价值。我们必须接受自己认知的局限性，不可能全面的了解公司的现状，更不可能预见未来。
                    减少盲目追涨杀跌。特别是股价下跌时，避免产生不切实际的幻想。
                </p>
                <h4>标的和周期选择</h4>
                <h5>标的选择：</h5>
                <p>
                    趋势投资用在指数和大市值、高成交的股票上更有效。
                    惯性还有一个特征：质量越大，惯性越大。成交量越大，趋势也会越强，背后是资金成本的推动力。
                    有效性排序，指数>板块>个股。
                </p>
                <h5>周期选择：</h5>
                <p>
                    20天均线。看起来简单粗糙，但最大的价值就是简单。大多数散户并不具备专业的投资技能，要做的就是把复杂的事情简单化。
                    考虑交易成本和人的心理情绪。5日线等短期均线过于敏感，容易陷入追涨杀跌的窘境；60日线等长期均线则周期过于冗长，一年操作一两次很难做到。
                    无数回测结果都表明20日均线是A股最重要的均线，因为它符合A股投资者的交易习惯和市场的活跃程度。越活跃的市场采用越短期的均线操作越有效，交投清淡的市场应该选取长期均线。
                    并不是每只股票都要套用20日均线，先观察股票历史支撑位。
                </p>
                <h4>操作原则</h4>
                <p>
                    上升趋势：低点一个比一个高，以站上20日均线，并且拐头向上为起点；
                    下降趋势：高点一个比一个低，以跌破20日均线，并且拐头向下为起点。
                    上涨趋势中，不设止盈，等走成下降趋势卖出；
                    下跌趋势中，也不要抄底，等走出上升趋势再买入。
                    原则上以收盘价操作。
                    不复杂，就这么简单。
                </p>

                <h4>趋势投资的缺点</h4>
                <p>
                    趋势投资不会抄底和逃顶。无法买在最低点，也不能卖到最高价。
                    震荡行情是趋势投资的天敌。震荡行情的走势是在一个区间运行，按20日均线买卖会被来回收割，如果几个回合发现市场走成了箱体，放弃趋势，等待突破方向明确。
                    波动足够大，才能覆盖交易成本，而形成大趋势的机会又很少。但这也是股票投资的另一个真相：赚钱不仅要靠胜率，还要靠每次操作的盈亏比。
                    正确和错误并非决定性的因素，最重要的是正确的时候要多挣钱，错误的时候要少亏钱。
                </p>
                <h4>我的总结</h4>
                <p>
                    基本面是股价的根，无论如何波动，最终还是要回归基本面。要寻找基本面和技术走势的共振。
                    我用很大篇幅写的都是技术面的趋势投资，适合初学者，只是交易的术。
                    趋势投资的道，是经济结构转型、产业趋势。未来几年，新能源和数字化依然是中国经济最大的趋势。
                    很多人都只是专注于交易层面的小趋势。如果在顶层大趋势下操作，胜率会提高很多
                </p>
                <p>
                    作者：三岁小怪兽<br />
                    链接：https://xueqiu.com/5712453299/66242506<br />
                    来源：雪球<br />
                    著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。<br />
                    风险提示：本文所提到的观点仅代表个人的意见，所涉及标的不作推荐，据此买卖，风险自负。
                </p>
            </div>
            <div class="tab-pane fade show" id="cangweililun" role="tabpanel" aria-labelledby="cangweililun-tab">
                <h4 class="mt-2">目标和意义</h4>
                <p>
                    投资的首要目标是生存。我所有的体系理念，都是先立足于不亏钱或者少亏钱。先不亏钱，才能赚钱。

                    股市具有不确定性和随机性。进行仓位管理的目的是在逆境期或者小概率事情发生时，控制风险，平抑账户波动，把损失控制在可以承受的范围内。

                    仓位增加的同时，收益在增加，但风险更是在不成比例的增加，亏损越大，回本的难度越大。亏损的终点是亏光，再也没机会了。

                    仓位管理的意义就是使投资过程中能够保持良好心态，做好风险和收益之间的平衡，在股市里活的更久。
                </p>




                <h4>整体仓位</h4>
                <p>
                    合理的仓位应该和指数走势一致。

                    以均线系统为依据，决定仓位大小。上涨趋势：重仓至满仓；下跌趋势：半仓以下。

                    市场好的时候多持仓，不好少持仓，本质上属于右侧交易。以此为基础，适当增加一些左侧交易，左侧目的是尽量使利润最大化。

                    在上涨趋势中，偏离MA20过远或者出现明显的见顶信号，可提前降低仓位；下跌趋势中同样如果在值博率较高的点位，也可以提前增加仓位。

                    以右侧为主，左侧为辅。初学者一定只做右侧交易。

                    我个人日常大概是上涨阶段仓位中枢7~8层，下跌3～5层，震荡区间看自己状态和节奏，比较随机，一般不会超过7层。

                    即使在极度悲观的市场里，也不会空仓。一是保持盘感的需要，空仓会让人失去对盘面的感知力；二是提高账户的容错性，底部是在不知不觉中产生的，也可能出现多次的假突破，有底仓，可以从容进退。

                    大多数人不要使用杠杆。有能力，赚钱是迟早的事，不差那点杠杆；没能力，杠杆只会让亏光的速度变快。

                </p>
                <h4>仓位分配</h4>
                <p>
                    不要单压，适度分仓，设置上限。
                    根据风险承受能力决定持有几只股票。比如账户亏损2%心态会变差，那就10/2=5，持有5只股票。
                    单只股票持有的仓位和公司确定性相匹配。
                    行业龙头、确定性高的品种可以仓位重些，题材概念、科技股、周期股这些高弹性品种一定要分仓。
                    持有同一行业的股票不超过两只。
                    单只股票仓位不超过两层。
                    保持配置的平衡。比如风格在成长，也要配置一只权重股；风格在蓝筹，也要配置一只成长股。
                    <br />
                    主要分为三种类型持仓。<br />
                    配置型：也就是底仓，长期看好的品种，两只股票为宜。<br />
                    弹性型：右侧仓位，根据趋势增减，4层左右，选择当下市场热点。<br />
                    随机型：2层左右，上文抄底或逃顶的左侧交易，也可以当作练手、试错、打野的仓位。
                </p>
                <h4>建仓和减仓</h4>
                <h5>买入：</h5>
                <p>
                    不要梭哈，分两次建仓。
                    第一次试探性买入，接下来几天如果赚钱了，会进行第二次加仓；如果亏损，那就割肉，亏损的股票绝对不要补仓。
                    第一次买入的标准是突破，第二次加仓的标准是盈利，两次间隔时间不要太长。
                </p>
                <h5>卖出：</h5>
                <p>
                    参考MA5和MA20，纯粹技术性的卖出。
                    关于卖出，先看上涨处于什么阶段。
                    如果一只股票刚开始上涨不多就开始回落，这时候偏离20日线并不远，以20日线或者利润亏完卖出；如果在拉升过程中，股价偏离20日线较远，可以先以5日线兑现一部分利润。
                    卖出总体上是把握股价和20日线偏离的程度。
                </p>
                <h5>清仓：</h5>
                <p>
                    人是有情绪的，很难完全执行，但跌破20日线至少要卖出一半，如果20日线迟迟不能收回，完全走成了下降趋势（跌破并且向下运行），一定不要再抱有幻想，全部清仓。
                    如果持股涨成重仓，会选择性的做一次仓位平衡，重新降到2层。
                </p>
                <h5>补仓:</h5>
                <p>
                    没有补仓这个概念。
                    亏损的票，不可能补仓；赚钱的票高位减仓，继续上涨，就保持当下仓位，也不会再买。
                </p>
                <h4>问题和补充</h4>
                <p>
                    减仓或者换仓，首先选择无效仓位，一般指亏损或跑输指数的个股。
                    对于账户里涨幅过大的品种，兑现欲望强烈，不考虑基本面或技术面，先减仓到正常单个股票配置仓位，平抑心理波动。
                    ETF的使用：没有准备的突然上涨、收益始终跑不赢指数、想买不知道买什么、选好行业不会选个股、仓位不够，这些情况买ETF。把ETF当成账户的压舱石和调节器。
                    震荡期谈的比较少，因为没有太好解决方法，总体上不回避波动，不考虑箱体顶部减仓或者底部加仓，根据自身状态决定仓位，等待走出趋势。
                    小资金的仓位管理也是有意义的，风险偏好可以适当提高，少分仓几只股票。从"小" 做起，养成习惯
                </p>
                <p>
                    作者：三岁小怪兽<br />
                    链接：https://xueqiu.com/5712453299/161129395<br />
                    来源：雪球<br />
                    著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。<br />
                    风险提示：本文所提到的观点仅代表个人的意见，所涉及标的不作推荐，据此买卖，风险自负。
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <p class="my-2">
                    操作策略请参考<code>趋势理论</code>和<code>仓位理论</code>
                </p>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <figure class="mt-2">
                    <blockquote class="blockquote fs-6">
                        <p>经济结构变化是股市最大的趋势</p>
                        <p>趋势投资用在指数和大市值、高成交的股票上更有效</p>
                        <p>指数基金：上证50ETF、创业板ETF、科创50ETF </p>
                        <p>大市值高成交：日交易额超过10亿元，趋势向上，均线多头排列，量价齐升 </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-2">
                        以上观点摘自 <cite>三岁小怪兽</cite> 雪球文章
                    </figcaption>
                </figure>
                <figure class="mt-5">
                    <blockquote class="blockquote fs-6">
                        <p>找景气周期行业，在顺周期的大方向中做趋势，可获得超高收益</p>
                        <p>2008到2018年房地产行业，装修行业、白色家电行业等</p>
                        <p>2019到2020年的猪肉养殖行业</p>
                        <p>2020到2021年的新能源行业（锂电，电动汽车）、化工行业</p>
                        <p class="mt-2 text-info">突发事件引发的受益行业，如2020年新冠疫情</p>
                        <p>抗疫物质，特别是消耗品物质，2020年股王，英科医疗，1年10倍</p>
                        <p>疫苗生物行业暴涨，如智飞生物，复星医药，沃森生物，1年2倍</p>
                        <p>全球航运力需求暴增，2021年股王，周期之王，中远航运，1年10倍</p>
                        <p>全球因疫情金融放水，导致大宗商品暴涨，钢铁、煤炭，有色，化工暴涨，1年1倍</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-2">
                        个人小见解 <cite></cite>
                    </figcaption>
                </figure>

                <p class="mt-2 text-danger">
                    顺周期其实就是最好的趋势，在交易过程中，请配合大盘来配置仓位，控制好回撤才能达到高收益目标
                </p>
            </div>
            <div class="tab-pane fade" id="guanjiandian" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card my-2 bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">趋势投资</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Momentum Investing</h6>
                        <p class="card-text">
                            在景气周期行业做趋势投资是最轻松且最高效的。
                        </p>
                    </div>
                </div>
                <div class="card my-2 bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">景气周期</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Boom Periodicity</h6>
                        <p class="card-text">
                            供需关系发生微妙变化的开始就是景气周期的起点，突发事件可以加速这一变化进度，此时需思考哪些行业会受益。
                            <br />
                            <small class="text-muted">当新冠疫情发生后，抗疫物质个股暴涨、生物疫苗类个股暴涨。
                                随着全球疫情发酵，各国央行开始放水，煤炭钢铁有色等大宗商品暴涨，航运、化工周期暴发。
                            </small>
                        </p>
                    </div>
                </div>
                <div class="card my-2 bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">国家政策</h5>
                        <h6 class="card-subtitle mb-2 text-muted">National Policy</h6>
                        <p class="card-text">
                            国家政策对市场影响深远，要顺应国家政策。
                            <br />
                            <small class="text-muted">比如房住不炒政策，地产和地产链跌势汹汹，惨不忍睹；比如大力推广新能源汽车政策，新能源汽车、锂电池行业涨势惊人。</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


<script type="text/javascript">
    $(function () {

    });
</script>